exclude: >
  (?x)(
    ^mkdocs.yml$|
    ^scripts/ |
    ^streamlit/
  )
fail_fast: false
repos:
-   repo: local
    hooks:
      - id: ruff-isort
        name: ruff isort
        entry: ruff check --select I --fix
        language: system
        types: [python]
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]
      - id: ruff
        name: ruff
        entry: ruff check
        exclude: "__init__.py"
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        exclude: ^tests/|^examples/
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.3.0
    hooks:
      - id: forbid-crlf
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
